.index-circle-top{
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: rgb(255, 251, 0);
    border-bottom-right-radius: 150%;
    border-top-left-radius: 30px;
}

.form-header{
    color: rgb(255, 255, 255);
    font-size: 1.4rem !important;
    font-weight: bolder !important;
}

input{
    color: white !important;
    border-color: aliceblue !important;
}

.img-cnt{
    height: '100vh'!important;
    width: '100%'!important;
    background-size: 'cover' !important;
    background-position: 'center' !important;
}